@font-face {
  font-family: 'Overused Grotesk';
  src: url('../src/assets/Fonts/OverusedGrotesk-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Overused Grotesk';
  src: url('../src/assets/fonts/OverusedGrotesk-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Overused Grotesk';
  src: url('../src/assets/fonts/OverusedGrotesk-Roman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Overused Grotesk';
  src: url('../src/assets/fonts/OverusedGrotesk-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}


/* Import Tailwind styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-screen {
  background-color: #090909; /* Change this color to match your design */
}

.loading-text {
  color: #fd2c2c; /* Text color */
}
